html { overflow-y: scroll; -webkit-font-smoothing: antialiased }
body { padding-top: 34px; background: #f6f6f6; font-size: 13px; }
html, body { height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a { outline: none !important; color: #368CA9; }
a:hover { color: #368CA9 }
small { font-size: 11px }

  
    
/* top bar  */
    .navbar-inner { min-height: 34px; border-top: 1px solid #353939; border-bottom: 1px solid #2e3131; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464b4c), color-stop(100%, #3f4344)); background: -webkit-linear-gradient(top, #464b4c, #3f4344); background: -moz-linear-gradient(top, #464b4c, #3f4344); background: -ms-linear-gradient(top, #464b4c, #3f4344); background: -o-linear-gradient(top, #464b4c, #3f4344); background: linear-gradient(top, #464b4c, #3f4344); -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); background-color: #464b4c; }
    .selectnav { display: none }
    .navbar .top-search form { margin: 0 10px 0 0; padding-top: 5px; position: relative; }
    .navbar .top-search input, .navbar .top-search button { -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
    .navbar .top-search input { padding: 2px 24px 2px 10px; border: none; margin: 0; width: 150px; background: #999; -webkit-border-radius: 20px; moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; }
    .navbar .top-search input:focus { background: #f5f5f5; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
    .navbar .top-search button { opacity: .6; position: absolute; right: 7px; top: 9px; padding: 0; margin: 0; line-height: 12px; background: none; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
    .navbar .top-search input:focus + button { opacity: 1 }
    #fade-menu { font-size: 11px; font-weight: normal; }
    #fade-menu ul { list-style-type: none; margin: 0; padding: 0; }
    #fade-menu > ul { border-left: 1px solid #353939; border-left: 1px solid rgba(0, 0, 0, 0.2); border-right: 1px solid #4d5354; border-right: 1px solid rgba(255, 255, 255, 0.06); }
    #fade-menu ul li { position: relative; display: inline; float: left; }
    #fade-menu ul li a { color: #eee; display: block; text-decoration: none; padding: 0 10px; line-height: 34px; border-left: 1px solid #4d5354; border-left: 1px solid rgba(255, 255, 255, 0.06); border-right: 1px solid #353939; border-right: 1px solid rgba(0, 0, 0, 0.2); }
    #fade-menu ul li ul { position: absolute; left: 0; display: block; visibility: hidden; border-left: none; }
    #fade-menu ul li ul li { width: 160px; display: block; float: none; border-right: none; }
    #fade-menu ul li ul li a { margin: 0; border-width: 0 1px 1px 0; border-style: solid; border-color: #363a3a; background: #000; background: rgba(0,0,0,.88); line-height: 26px; }
    #fade-menu ul li ul li:last-child > a { border-bottom: none }
    #fade-menu ul li ul li:first-child > a { border-top: 1px solid #363a3a }
    #fade-menu ul li ul li ul { top: 0; margin-top: -1px; }
    #fade-menu a:hover, #fade-menu li.active>a { background: rgba(0, 0, 0, .3); border-left: 1px solid rgba(255,255,255,.12); }
    #fade-menu ul ul a:hover, #fade-menu li li.active>a { color: #fff; background: #000; border-left: none; }
    #fade-menu ul li a.arrow_down, #fade-menu ul li a.arrow_right { padding-right: 26px; background-image: url(../img/top_nav.gif); background-repeat: no-repeat; }
    #fade-menu ul li a.arrow_down { background-position: right 16px }
    #fade-menu ul li a.arrow_right { background-position: right -20px }
    #fade-menu li.active>a.arrow_down { background-image: url(../img/top_nav.gif); background-repeat: no-repeat; background-position: right -44px; }
    #fade-menu li.active>a.arrow_right { background-image: url(../img/top_nav.gif); background-repeat: no-repeat; background-position: right -80px; }
    
    

/* main content  */
    .main-wrapper { height: auto !important; min-height: 100%; }


    
/* ===[ media queries ]=== */
    
    /* ===[ Landscape phones and down ]=== */
        @media (max-width: 479px) { 
            .nav-icons ul > li > a, .nav-icons ul > li > span { padding: 0 12px }
            .navbar .top-search input { width: 100px }
            .selectnav { width: 140px }
        }
        
    /* ===[ Landscape phone to portrait tablet ]=== */
        @media (max-width: 767px) { 
            .row-fluid [class*="offset"] { margin-left: 0 !important }
            .navbar-fixed-top { margin-bottom: 0 }
            
            .main-logo, .user-box { text-align: center }
            .main-logo { margin-bottom: 20px }
            .user-box .user-info { padding-right: 0 }
            #nav-icons { padding-bottom: 12px }
            div[class*="span"] + div[class*="span"] { margin-top: 20px }
            
            
            
        }
        
    /* ===[ Portrait tablet to landscape and desktop ]=== */
        @media (min-width: 768px) and (max-width: 979px) { 
            .nav-icons ul > li > a, .nav-icons ul > li > span { padding: 0 12px }
        }
        
    /* ===[ Phones, tablets and desktop ]=== */
        @media (max-width: 979px) { 
            body { padding-top: 0 }
            .navbar-fixed-top { margin-bottom: 0 }
            .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding: 0 }
            #fade-menu ul { display: none }
            .selectnav { display: block; padding: 2px 3px; border: 1px solid #222; background: rgba(0,0,0,.2); color: #fff; height: 26px; line-height: 20px; margin: 3px 0 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-appearance: none; cursor: pointer; }
            .selectnav option { background: #fff; color: #333; }
            .top-right, .top-left, .top-center { top: -1px; z-index: 1000; }
          
        }
        
    /* ===[ Large desktop ]=== */
        @media (min-width: 1200px) { 
            
        }
		
		
		.nav_touch .selectnav { display: block; padding: 2px 3px; border: 1px solid #222; background: rgba(0,0,0,.2); color: #fff; height: 26px; line-height: 20px; margin: 3px 0 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-appearance: none; cursor: pointer; }
        .nav_touch .selectnav option { background: #fff; color: #333; }
		.nav_touch #fade-menu ul { display: none }